<div id="<%= dom_id task %>">
  <p>
    <strong>Название:</strong>
    <%= "#{task.name} [#{task.solution_type}]" %>
  </p>

  <p>
    <strong>Категория:</strong>
    <%= task.category_name %>
  </p>

  <p>
    <strong>Описание:</strong>
    <%= task.description %>
  </p>

</div>
