<h1>Редактирование Пользователя</h1>

<%= render "form", user: @user %>

<br>

<div>
  <%= link_to "Перейти к пользователю", @user %> |
  <%= link_to "Обратно к списку пользователей", users_path %>
</div>
