<p style="color: green"><%= notice %></p>

<h1>Пользователи</h1>

<div id="users">
  <% @users.each do |user| %>
    <%= render partial: 'user', object: user, locals: { ratings: @ratings } %>
    <p>
      <%= link_to "Перейти к пользователю", user %>
    </p>
    <hr>
  <% end %>
</div>

<%= link_to "Новый пользователь", new_user_path %>
