<h1>Редактировать решение</h1>

<%= render "form", solution: @solution %>

<br>

<div>
  <%= link_to "Показать решение", task_solution_path(@task, @solution) %> |
  <%= link_to "Обратно к решениям", task_solutions_path(@task) %>
</div>
