<p style="color: green"><%= notice %></p>

<h1>Мои Решения</h1>

<div id="solutions">
  <% @solutions.each do |solution| %>
    <%= render solution %>
    <p>
      <%= link_to "Показать решение", task_solution_path(solution.task, solution) %>
    </p>
    <hr>
  <% end %>
</div>
